{% extends "forms/base.html" %} {% load crispy_forms_tags %} {% block content %}

<a class="btn btn-light" href="{% url 'add' %}"> Create Persona </a>

{% if response_list %}
<ul>
  {% for response in response_list %}

  <li>
    <button type="button" class="btn btn-primary">
        <a class="btn btn-light" href="{% url 'update' response.id %}"> Create Persona 
      {{ response.name }}
      <span class="badge bg-secondary">{{ response.years_of_experience }}</span>
      </a>
    </button>
  </li>
  {% endfor %}
</ul>

{% else %}
<p>No data are available.</p>
{% endif %} {% endblock %}
